<!doctype html public "storage">
<html>
  <head>
    <meta charset=utf-8/>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <h1>Simple React Time Picker</h1>
    <section>
      <a href="https://github.com/dpalma/react-simple-time-picker">
        <i class="fa fa-github"></i>
        Source
      </a>
    </section>
    <section>
      <h2>Example</h2>
      <div id="example"></div>
    </section>
    <section>
      <h2>Installation and Usage</h2>
    </section>
    <section>
      <h2>API</h2>
    </section>
  </body>
</html>
