<!doctype html public "storage">
<html>
  <head>
    <meta charset="utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <style>
      body {
        font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
      }
      pre {
        font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
      }
    </style>
  </head>
  <body>
    <h1><%= htmlWebpackPlugin.options.title %></h1>
    <section>
      <a href="https://github.com/dpalma/react-dropdown-timepicker">
        <i class="fa fa-github"></i>
        Source
      </a>
    </section>
    <section>
      <h2>Example</h2>
      <div id="example"></div>
    </section>
    <section>
      <h2>Installation</h2>
      <pre>
$ npm install --save react-dropdown-timepicker
      </pre>
    </section>
    <section>
      <h2>Usage</h2>
      <pre>
import TimePicker from 'react-dropdown-timepicker';

render() {
  &lt;TimePicker
    time={this.state.time}
    onChange={this.handleTimeChange.bind(this)} /&gt;
}
      </pre>
    </section>
    <section>
      <h2>Attributes</h2>
      <h3>time</h3>
      <article>
        Initially selected time to be highlighted in the time selection grid. May be
        a JavaScript Date object or a simple object with "hour" and "minute" fields.
        The hour value should be in the range [0, 23].
      </article>
      <h3>onChange</h3>
      <article>
        Function to be called when a time is selected. The first argument will be
        a simple object with "hour" and "minute" fields. The hour value will be
        24-hour format in the range [0,23].
      </article>
      <h3>displayFormat</h3>
      <h4>"12-hour" | "24-hour" | (function)</h4>
      <article>
        Specifies the format of the time displayed in the time picker's input box.
        If a custom function is used, its argument will be a simple object with
        fields for the hour (24-hour format) and minute.
      </article>
    </section>
  </body>
</html>
