.timepicker__container {
}

.timepicker__container__open > div.timepicker__droplist {
    transform: scale(1,1)
}

.timepicker__container__closed > div.timepicker__droplist {
    transform: scale(1,0)
}


.timepicker__display {
    cursor: pointer;
    border: solid 1px black;
    box-sizing: border-box;
}

div.timepicker__droplist {
}

.timepicker__droplist>div {
    position: absolute;
    cursor: pointer;
    background: white;
}

.timepicker__droplist>div>div {
    box-sizing: border-box;
}


.timepicker__droplist>div>div:hover {
    background:#F0F0F0;
}

.timegrid__container {
}

.timegrid__amcol, .timegrid__pmcol {
  float: left;
}

.timegrid__colheader {
  background-color: gray
}

.timegrid__line {
  display: table-row;
  width: 100%;
}

.timegrid__hour {
  display: table-cell;
}

.timegrid__min {
  display: table-row;
}

.timegrid__min00, .timegrid__min15, .timegrid__min30, .timegrid__min45 {
  display: table-cell;
}
