.timepicker__container {

}

.timepicker__container__open > div.timepicker__droplist {
    transform: scale(1,1)
}

.timepicker__container__closed > div.timepicker__droplist {
    transform: scale(1,0)
}


.timepicker__display {
    cursor: pointer;
    border: solid 1px black;
    box-sizing: border-box;
}

div.timepicker__droplist {
}

.timepicker__droplist>div {
    position: absolute;
    cursor: pointer;
    width: 100%;
    background: white;
}

.timepicker__droplist>div>div {
    width: 100%;
    padding: 0px 8px;
    box-sizing: border-box;
}


.timepicker__droplist>div>div:hover {
    background:#F0F0F0;
}
